// colors
$black-100: #000000;

$gray-100: #4F4F4F;
$gray-200: #BDBDBD;
$gray-300: #333333;
$gray-400: #DDDDDD;
$gray-500: #989898;
$gray-600: #E0E0E0;
$gray-700: #949494;
$gray-800: #828282;

$white-100: #ffffff;
$white-200: #F8F8F8;
$white-300: #F2F2F2;

$orange-50: #FFF3E0;
$orange-100: #f5a94e;
$orange-200: #F2994A;
$orange-300: #E0812C;
$orange-400: #EF9F2E;

$pink-100: #D60F86;

$blue-100: #3A70DA;
$blue-200: #2F80ED;
$blue-300: #3B5998;
$blue-400: #00acee;

$red-100: #e02b4b;
$red-200: #c4302b;
$red-300: #c8232c;


$shadow-100: rgba(0, 0, 0, 0.2);


