// colors
$black-100: #000000;

$gray-100: #4F4F4F;
$gray-200: #BDBDBD;
$gray-300: #333333;
$gray-400: #DDDDDD;
$gray-500: #989898;

$white-100: #ffffff;
$white-200: #F8F8F8;
$white-300: #F2F2F2;

$orange-50: #FFF3E0;
$orange-100: #f5a94e;
$orange-200: #F2994A;
$orange-300: #E0812C;
$orange-400: #EF9F2E;

$pink-100: #D60F86;

$blue-100: #3A70DA;

$red-100: #e02b4b;


$shadow-100: rgba(0, 0, 0, 0.2);